.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #00000027;
  transition: 0.3s;
}

.form {
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: column;

  &__title {
    margin-bottom: 50px;
    color: #f8f8e8;
    font-size: 70px;
    font-weight: 200;
  }
  &_label {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    background-color: #00000077;
    border-radius: 5px;
    &_error {
      box-shadow: 0px 0px 2px 2px #ff1e00af;
    }

    &:nth-of-type(n + 2) {
      margin-top: 20px;
    }
    &__input {
      width: 300px;
      min-height: 20px;
      padding: 15px 30px;
      font-size: 20px;
      border-radius: 5px;
      color: #f8f8e8;
      background-color: #00000000;
      transition: 0.5s;
      &::placeholder {
        color: #ccc;
      }
    }
    &__image {
      height: 30px;
      width: 30px;
    }
  }

  &__button {
    width: 150px;
    height: 45px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f8f8e8b9;
    &:hover {
      background-color: #000000a8;
      color: #f8f8e8b9;
    }
  }
}
