.content {
  border-bottom: 1px solid #00000077;

  padding: 10px;
  &_list {
    display: flex;
    list-style-type: none;
    &__item {
      &:nth-of-type(n + 2) {
        margin-left: 40px;
      }
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8e8;
    text-shadow: 1px 2px 1px #4e3939;
    font-weight: 300;
    font-size: 25px;
  }
}
