.content {
  margin-left: 25%;
  margin-top: 60px;
  max-width: 600px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 0 2px #00000077;
  font-weight: 400;
  font-size: 24px;
  box-shadow: 0 0 0 2px #00000077;
  background-color: #00000027;
  border-radius: 15px;
  color: #f8f8e8;
}
.title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
  &Text {
    margin-right: 30px;
  }
  &Input {
    width: 50%;
    min-height: 20px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    color: #f8f8e8;
    background-color: #00000077;
    border: 2px solid #00000027;
    transition: 0.5s;
    &:focus {
      box-shadow: 0px 0px 2px 2px #ff9900af;
    }
  }
  &Select {
    padding: 5px;
    width: 50%;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 5px;
    color: #f8f8e8;
    background-color: #00000077;
    border: 2px solid #00000027;
    &:focus {
      box-shadow: 0px 0px 2px 2px #ff9900af;
    }
  }
  &:nth-child(n + 2) {
    margin-top: 20px;
  }
}
.button {
  width: 120px;
  height: 40px;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5%;
  margin-left: 50%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #f8f8e8b9;
  &:hover {
    background-color: #000000a8;
    color: #f8f8e8b9;
  }
}
